.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:calc(32/20)*1rem;
	width:calc(32/32)*1em;
}
.icon-next {
	font-size:calc(21/10)*1rem;
	width:calc(11/21)*1em;
}
.icon-previous {
	font-size:calc(21/10)*1rem;
	width:calc(11/21)*1em;
}
