header.header 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/logo.png", alt="")
			.header_menu 
				ul
					li 
						a(href="#") Услуги
					li 
						a(href="#") Проекты
					li 
						a(href="#") О нас
					li 
						a(href="#") Контакты
			.header_phone 
				a(href="#")
					.header_phone_icon 
						img(src="i/icons/call.png", alt="")
					p 8 903 306 01 01
			.burger_trigger.trigger(data-target="menu")
					span 
					span 
					span